NODE_ENV=test|development|production
DOCKER_IMAGE=ghcr.io/GITHUB_USER/repo:tag
NEXT_PUBLIC_SITE_URL=http://youdomain.com
NEXT_PUBLIC_CURRENCY=YOUR_CURRENCY
API_URL=http://host.docker.internal:0000
REDIS_URL=redis://host.docker.internal:port